.excalidraw .focus-visible-none:focus-visible {
  outline: none !important;
}
.excalidraw .color-picker__title {
  padding: 0 0.5rem;
  font-size: 0.875rem;
  text-align: left;
}
.excalidraw .color-picker__heading {
  padding: 0 0.5rem;
  font-size: 0.75rem;
  text-align: left;
}
.excalidraw .color-picker-container {
  display: grid;
  grid-template-columns: 1fr 20px 1.625rem;
  padding: 0.25rem 0px;
  align-items: center;
}
.excalidraw--mobile.excalidraw .color-picker-container {
  max-width: 11rem;
}

.excalidraw .color-picker-container.color-picker-container--no-top-picks {
  display: flex;
  justify-content: center;
  grid-template-columns: unset;
}
.excalidraw .color-picker__top-picks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.excalidraw .color-picker__button {
  --radius: 4px;
  --size: 1.375rem;
}
.excalidraw .color-picker__button.has-outline {
  box-shadow: inset 0 0 0 1px #d9d9d9;
}
.excalidraw .color-picker__button {
  padding: 0;
  margin: 0;
  width: var(--size);
  height: var(--size);
  border: 0;
  border-radius: var(--radius);
  filter: var(--theme-filter);
  background-color: var(--swatch-color);
  background-position: left center;
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
}
.excalidraw .color-picker__button:hover:not(.active):not(.color-picker__button--large) {
  transform: scale(1.075);
}
.excalidraw .color-picker__button:hover:not(.active).color-picker__button--large::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  box-shadow: 0 0 0 1px var(--color-gray-30);
  border-radius: var(--radius);
  filter: var(--theme-filter);
}
.excalidraw .color-picker__button .color-picker__button-outline {
  display: flex;
  align-items: center;
  justify-content: center;
}
.excalidraw .color-picker__button .color-picker__button-outline svg {
  color: var(--color-gray-60);
  width: 1.25rem;
  height: 1.25rem;
}
.excalidraw .color-picker__button .color-picker__button-background {
  display: flex;
  align-items: center;
  justify-content: center;
}
.excalidraw .color-picker__button .color-picker__button-background svg {
  width: 100%;
  height: 100%;
}
.excalidraw .color-picker__button.active .color-picker__button-outline {
  position: absolute;
  --offset: -1px;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  box-shadow: 0 0 0 1px var(--color-primary-darkest);
  z-index: 1;
  border-radius: var(--radius);
  filter: var(--theme-filter);
}
.excalidraw .color-picker__button:focus-visible {
  outline: none;
}
.excalidraw .color-picker__button:focus-visible::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 3px solid var(--focus-highlight-color);
  border-radius: calc(var(--radius) + 1px);
}
.excalidraw .color-picker__button:focus-visible.active .color-picker__button-outline {
  display: none;
}
.excalidraw .color-picker__button--large {
  --radius: 0.5rem;
  width: 1.875rem;
  height: 1.875rem;
}
.excalidraw .color-picker__button.is-transparent {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==");
}
.excalidraw .color-picker__button--no-focus-visible {
  border: 0;
}
.excalidraw .color-picker__button--no-focus-visible::after {
  display: none;
}
.excalidraw .color-picker__button--no-focus-visible:focus-visible {
  outline: none !important;
}
.excalidraw .color-picker__button.active-color {
  border-radius: calc(var(--radius) + 1px);
  width: 1.625rem;
  height: 1.625rem;
}
.excalidraw .color-picker__button.compact-sizing {
  width: var(--mobile-action-button-size);
  height: var(--mobile-action-button-size);
}
.excalidraw .color-picker__button.mobile-border {
  border: 1px solid var(--mobile-color-border);
}
.excalidraw .color-picker__button__hotkey-label {
  position: absolute;
  right: 5px;
  bottom: 3px;
  filter: none;
  font-size: 11px;
  font-weight: 500;
}
.excalidraw .color-picker {
  background: var(--popup-bg-color);
  border: 0 solid rgba(255, 255, 255, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px;
  border-radius: 4px;
  position: absolute;
}
:root[dir=ltr] .excalidraw .color-picker {
  left: -5.5px;
}
:root[dir=rtl] .excalidraw .color-picker {
  right: -5.5px;
}
.excalidraw .color-picker-control-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.5rem;
}
.excalidraw .color-picker-control-container + .popover {
  position: static;
}
.excalidraw .color-picker-popover-container {
  margin-top: -0.25rem;
}
:root[dir=ltr] .excalidraw .color-picker-popover-container {
  margin-left: 0.5rem;
}
:root[dir=rtl] .excalidraw .color-picker-popover-container {
  margin-left: -3rem;
}
.excalidraw .color-picker-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px;
  border-color: transparent transparent var(--popup-bg-color);
  position: absolute;
  top: 10px;
}
:root[dir=ltr] .excalidraw .color-picker-triangle {
  transform: rotate(270deg);
  left: -14px;
}
:root[dir=rtl] .excalidraw .color-picker-triangle {
  transform: rotate(90deg);
  right: -14px;
}
.excalidraw .color-picker-triangle-shadow {
  border-color: transparent transparent rgba(0, 0, 0, 0.1);
}
:root[dir=ltr] .excalidraw .color-picker-triangle-shadow {
  left: -14px;
}
:root[dir=rtl] .excalidraw .color-picker-triangle-shadow {
  right: -16px;
}
.excalidraw .color-picker-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  outline: none;
}
.excalidraw .color-picker-content--default {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1.875rem);
  grid-gap: 0.25rem;
  border-radius: 4px;
}
.excalidraw .color-picker-content--default:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-highlight-color);
}
.excalidraw .color-picker-content--canvas {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.excalidraw .color-picker-content--canvas-title {
  color: #868e96;
  font-size: 12px;
  padding: 0 0.25rem;
}
.excalidraw .color-picker-content--canvas-colors {
  padding: 0.5rem 0;
}
.excalidraw .color-picker-content--canvas-colors .color-picker-swatch {
  margin: 0 0.25rem;
}
.excalidraw .color-picker-content .color-input-container {
  grid-column: 1/span 5;
}
.excalidraw .color-picker-swatch {
  position: relative;
  height: 1.875rem;
  width: 1.875rem;
  cursor: pointer;
  border-radius: 4px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: currentColor !important;
  filter: var(--theme-filter);
}
.excalidraw .color-picker-swatch:focus {
  /* TODO: only show the border when the color is too light to see as a shadow */
  box-shadow: 0 0 4px 1px currentColor;
  border-color: var(--select-highlight-color);
}
.excalidraw .color-picker-transparent {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.excalidraw .color-picker-transparent,
.excalidraw .color-picker-label-swatch {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==") left center;
}
.excalidraw .color-picker-hash {
  height: var(--default-button-size);
  flex-shrink: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  border: 1px solid var(--default-border-color);
  border-right: 0;
  box-sizing: border-box;
}
:root[dir=ltr] .excalidraw .color-picker-hash {
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
}
:root[dir=rtl] .excalidraw .color-picker-hash {
  border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  border-right: 1px solid var(--default-border-color);
  border-left: 0;
}
.excalidraw .color-picker-hash {
  color: var(--input-label-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.excalidraw .color-input-container {
  display: flex;
}
.excalidraw .color-input-container:focus-within {
  box-shadow: 0 0 0 1px var(--color-primary-darkest);
  border-radius: var(--border-radius-lg);
}
.excalidraw .color-picker__input-label {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--default-border-color);
  border-radius: 8px;
  padding: 0 12px;
  margin: 8px;
  box-sizing: border-box;
}
.excalidraw .color-picker__input-label:focus-within {
  box-shadow: 0 0 0 1px var(--color-primary-darkest);
  border-radius: var(--border-radius-lg);
}
.excalidraw .color-picker__input-hash {
  padding: 0 0.25rem;
}
.excalidraw .color-picker-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
  font-family: inherit;
  background-color: transparent;
  color: var(--text-primary-color);
  border: 0;
  outline: none;
  height: var(--default-button-size);
  border: 1px solid var(--default-border-color);
  border-left: 0;
  letter-spacing: 0.4px;
}
:root[dir=ltr] .excalidraw .color-picker-input {
  border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
}
:root[dir=rtl] .excalidraw .color-picker-input {
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  border-left: 1px solid var(--default-border-color);
  border-right: 0;
}
.excalidraw .color-picker-input {
  padding: 0.5rem;
  padding-left: 0.25rem;
  appearance: none;
}
.excalidraw .color-picker-input:focus-visible {
  box-shadow: none;
}
.excalidraw .color-picker-label-swatch-container {
  border: 1px solid var(--default-border-color);
  border-radius: var(--border-radius-lg);
  width: var(--default-button-size);
  height: var(--default-button-size);
  box-sizing: border-box;
  overflow: hidden;
}
.excalidraw .color-picker-label-swatch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  width: var(--button-width, var(--default-button-size));
  height: var(--button-height, var(--default-button-size));
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-border, var(--default-border-color));
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  background-color: var(--button-bg, var(--island-bg-color));
  color: var(--button-color, var(--color-on-surface));
  font-family: var(--ui-font);
}
.excalidraw .color-picker-label-swatch svg {
  width: var(--button-width, var(--lg-icon-size));
  height: var(--button-height, var(--lg-icon-size));
}
.excalidraw .color-picker-label-swatch:hover {
  background-color: var(--button-hover-bg, var(--island-bg-color));
  border-color: var(--button-hover-border, var(--button-border, var(--default-border-color)));
  color: var(--button-hover-color, var(--button-color, var(--text-primary-color, inherit)));
}
.excalidraw .color-picker-label-swatch:active {
  background-color: var(--button-active-bg, var(--island-bg-color));
  border-color: var(--button-active-border, var(--color-primary-darkest));
}
.excalidraw .color-picker-label-swatch.active {
  background-color: var(--button-selected-bg, var(--color-surface-primary-container));
  border-color: var(--button-selected-border, var(--color-surface-primary-container));
}
.excalidraw .color-picker-label-swatch.active:hover {
  background-color: var(--button-selected-hover-bg, var(--color-surface-primary-container));
}
.excalidraw .color-picker-label-swatch.active svg {
  color: var(--button-color, var(--color-on-primary-container));
}
.excalidraw--mobile.excalidraw .color-picker-label-swatch {
  width: var(--mobile-action-button-size, var(--default-button-size));
  height: var(--mobile-action-button-size, var(--default-button-size));
}

.excalidraw .color-picker-label-swatch {
  background-color: var(--swatch-color) !important;
  overflow: hidden;
  position: relative;
  filter: var(--theme-filter);
  border: 0 !important;
}
.excalidraw .color-picker-label-swatch:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--swatch-color);
}
.excalidraw .color-picker-keybinding {
  position: absolute;
  bottom: 2px;
  font-size: 0.7em;
}
:root[dir=ltr] .excalidraw .color-picker-keybinding {
  right: 2px;
}
:root[dir=rtl] .excalidraw .color-picker-keybinding {
  left: 2px;
}
.excalidraw--mobile.excalidraw .color-picker-keybinding {
  display: none;
}

.excalidraw .color-picker-type-canvasBackground .color-picker-keybinding {
  color: #aaa;
}
.excalidraw .color-picker-type-elementBackground .color-picker-keybinding {
  color: #fff;
}
.excalidraw .color-picker-swatch[aria-label=transparent] .color-picker-keybinding {
  color: #aaa;
}
.excalidraw .color-picker-type-elementStroke .color-picker-keybinding {
  color: #d4d4d4;
}
.excalidraw.theme--dark .color-picker-type-elementBackground .color-picker-keybinding {
  color: #000;
}
.excalidraw.theme--dark .color-picker-swatch[aria-label=transparent] .color-picker-keybinding {
  color: #000;
}

/*# sourceMappingURL=ColorPicker.css.map */
