.excalidraw .dropdown-menu {
  max-width: 20rem;
  z-index: 1;
}
.excalidraw .dropdown-menu--placement-top {
  margin-bottom: 0.5rem;
}
.excalidraw .dropdown-menu__submenu-trigger[aria-expanded=true] .dropdown-menu-item {
  background-color: var(--button-hover-bg);
}
.excalidraw .dropdown-menu__submenu-trigger-icon {
  margin-left: auto;
  opacity: 0.5;
}
.excalidraw .dropdown-menu__submenu-trigger-icon svg g {
  stroke-width: 2;
}
.excalidraw .dropdown-menu--mobile {
  width: 100%;
  row-gap: 0.75rem;
}
.excalidraw .dropdown-menu--mobile.main-menu {
  min-width: 232px;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (orientation: landscape) {
  .excalidraw .dropdown-menu--mobile.main-menu {
    max-width: 232px;
  }
}
.excalidraw .dropdown-menu--mobile .dropdown-menu-container {
  padding: 8px 8px;
  box-sizing: border-box;
  border-radius: var(--border-radius-lg);
  position: relative;
  transition: box-shadow 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.excalidraw .dropdown-menu--mobile .dropdown-menu-container.zen-mode {
  box-shadow: none;
}
.excalidraw .dropdown-menu .dropdown-menu-container {
  background-color: var(--island-bg-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  box-shadow: var(--box-shadow, var(--shadow-island));
  max-height: calc(100svh - var(--editor-container-padding) * 2 - 2.25rem);
}
.excalidraw.theme--dark.excalidraw .dropdown-menu .dropdown-menu-container {
  box-shadow: var(--box-shadow, var(--shadow-island)), 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.excalidraw .dropdown-menu .dropdown-menu-item-base {
  display: flex;
  column-gap: 0.625rem;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  color: var(--color-on-surface);
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-family: inherit;
}
.excalidraw .dropdown-menu.manual-hover .dropdown-menu-item:hover {
  background-color: transparent;
}
.excalidraw .dropdown-menu.manual-hover .dropdown-menu-item--hovered {
  background-color: var(--button-hover-bg) !important;
}
.excalidraw .dropdown-menu.manual-hover .dropdown-menu-item--selected {
  background-color: var(--color-primary-light) !important;
}
.excalidraw .dropdown-menu.fonts {
  margin-top: 1rem;
  max-height: calc(7 * (2rem + 2px) + 2.95rem + 1rem);
}
@media screen and (min-width: 1921px) {
  .excalidraw .dropdown-menu.fonts {
    max-height: calc(7 * (2.25rem + 2px) + 2.95rem + 1rem);
  }
}
.excalidraw .dropdown-menu.fonts .dropdown-menu-item-base {
  display: inline-flex;
}
.excalidraw .dropdown-menu.fonts .dropdown-menu-group:not(:first-child) {
  margin-top: 1rem;
}
.excalidraw .dropdown-menu.fonts .dropdown-menu-group-title {
  font-size: 0.75rem;
  text-align: left;
  font-weight: 400;
  margin: 0 0 0.5rem;
  line-height: 1.3;
}
.excalidraw .dropdown-menu .dropdown-menu-item {
  height: 2rem;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  flex: 1 0 auto;
}
@media screen and (min-width: 1921px) {
  .excalidraw .dropdown-menu .dropdown-menu-item {
    height: 2.25rem;
  }
}
.excalidraw .dropdown-menu .dropdown-menu-item__text {
  display: flex;
  align-items: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  gap: 0.75rem;
}
.excalidraw .dropdown-menu .dropdown-menu-item__shortcut {
  margin-inline-start: auto;
  opacity: 0.5;
}
.excalidraw .dropdown-menu .dropdown-menu-item__shortcut--orphaned {
  text-align: right;
  font-size: 0.875rem;
  padding: 0 0.625rem;
}
.excalidraw .dropdown-menu .dropdown-menu-item--selected {
  background: var(--color-primary-light);
  --icon-fill-color: var(--color-primary-darker);
}
.excalidraw .dropdown-menu .dropdown-menu-item:hover {
  background-color: var(--button-hover-bg);
  text-decoration: none;
}
.excalidraw .dropdown-menu .dropdown-menu-item:active {
  background-color: var(--button-hover-bg);
  box-shadow: 0 0 0 1px var(--color-brand-active);
}
.excalidraw .dropdown-menu .dropdown-menu-item[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.excalidraw .dropdown-menu .dropdown-menu-item[disabled]:hover {
  background-color: transparent;
}
.excalidraw .dropdown-menu .dropdown-menu-item[disabled]:active {
  background-color: transparent;
  box-shadow: none;
}
.excalidraw .dropdown-menu .dropdown-menu-item svg {
  width: 1rem;
  height: 1rem;
  display: block;
}
.excalidraw .dropdown-menu .dropdown-menu-item-bare {
  align-items: center;
  height: 2rem;
  justify-content: space-between;
}
@media screen and (min-width: 1921px) {
  .excalidraw .dropdown-menu .dropdown-menu-item-bare {
    height: 2.25rem;
  }
}
.excalidraw .dropdown-menu .dropdown-menu-item-bare svg {
  width: 1rem;
  height: 1rem;
  display: block;
}
.excalidraw .dropdown-menu .dropdown-menu-item-custom {
  margin-top: 0.5rem;
}
.excalidraw .dropdown-menu .dropdown-menu-group-title {
  font-size: 14px;
  text-align: left;
  margin: 10px 0;
  font-weight: 500;
}
.excalidraw .dropdown-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  width: var(--button-width, var(--default-button-size));
  height: var(--button-height, var(--default-button-size));
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-border, var(--default-border-color));
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  background-color: var(--button-bg, var(--island-bg-color));
  color: var(--button-color, var(--color-on-surface));
  font-family: var(--ui-font);
}
.excalidraw .dropdown-menu-button svg {
  width: var(--button-width, var(--lg-icon-size));
  height: var(--button-height, var(--lg-icon-size));
}
.excalidraw .dropdown-menu-button:hover {
  background-color: var(--button-hover-bg, var(--island-bg-color));
  border-color: var(--button-hover-border, var(--button-border, var(--default-border-color)));
  color: var(--button-hover-color, var(--button-color, var(--text-primary-color, inherit)));
}
.excalidraw .dropdown-menu-button:active {
  background-color: var(--button-active-bg, var(--island-bg-color));
  border-color: var(--button-active-border, var(--color-primary-darkest));
}
.excalidraw .dropdown-menu-button.active {
  background-color: var(--button-selected-bg, var(--color-surface-primary-container));
  border-color: var(--button-selected-border, var(--color-surface-primary-container));
}
.excalidraw .dropdown-menu-button.active:hover {
  background-color: var(--button-selected-hover-bg, var(--color-surface-primary-container));
}
.excalidraw .dropdown-menu-button.active svg {
  color: var(--button-color, var(--color-on-primary-container));
}
.excalidraw--mobile.excalidraw .dropdown-menu-button {
  width: var(--mobile-action-button-size, var(--default-button-size));
  height: var(--mobile-action-button-size, var(--default-button-size));
}

.excalidraw .dropdown-menu-button {
  width: var(--lg-button-size);
  height: var(--lg-button-size);
  --background: var(--color-surface-mid);
  background-color: var(--background);
}
.excalidraw.theme--dark.excalidraw .dropdown-menu-button {
  --background: var(--color-surface-high);
}
.excalidraw.theme--dark.excalidraw .dropdown-menu-button:hover {
  --background: #363541;
}

.excalidraw .dropdown-menu-button:hover {
  --background: var(--color-surface-high);
  background-color: var(--background);
  text-decoration: none;
}
.excalidraw .dropdown-menu-button:active {
  box-shadow: 0 0 0 1px var(--color-primary);
}
.excalidraw .dropdown-menu-button[disabled] {
  cursor: not-allowed;
}
.excalidraw .dropdown-menu-button[disabled]:hover {
  --background: var(--color-surface-mid);
  background-color: var(--background);
}
.excalidraw .dropdown-menu-button[disabled]:active {
  box-shadow: none;
}
.excalidraw.theme--dark.excalidraw .dropdown-menu-button[disabled]:hover {
  --background: var(--color-surface-high);
}

.excalidraw .dropdown-menu-button svg {
  width: var(--lg-icon-size);
  height: var(--lg-icon-size);
}
.excalidraw .dropdown-menu-button--mobile {
  border: none;
  margin: 0;
  padding: 0;
  width: var(--default-button-size);
  height: var(--default-button-size);
}

/*# sourceMappingURL=DropdownMenu.css.map */
