.excalidraw {
  --avatar-size: 1.75rem;
  --avatarList-gap: 0.625rem;
  --userList-padding: var(--space-factor);
  --userlist-hint-bg-color: var(--color-gray-10);
  --userlist-hint-heading-color: var(--color-gray-80);
  --userlist-hint-text-color: var(--color-gray-60);
  --userlist-collaborators-border-color: var(--color-gray-20);
}
.excalidraw.theme--dark {
  --userlist-hint-bg-color: var(--color-gray-90);
  --userlist-hint-heading-color: var(--color-gray-30);
  --userlist-hint-text-color: var(--color-gray-40);
  --userlist-collaborators-border-color: var(--color-gray-80);
}
.excalidraw .UserList__wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none !important;
}
.excalidraw .UserList {
  pointer-events: none;
  padding: var(--userList-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: var(--avatarList-gap);
  box-sizing: border-box;
  --max-size: calc(
    var(--avatar-size) * var(--max-avatars, 2) + var(--avatarList-gap) *
      (var(--max-avatars, 2) - 1) + var(--userList-padding) * 2
  );
  max-height: var(--max-size);
  max-width: var(--max-size);
}
.excalidraw .UserList > * {
  pointer-events: var(--ui-pointerEvents);
}
.excalidraw .UserList_mobile {
  padding: 0;
  justify-content: normal;
  margin: 0.5rem 0;
  max-width: none;
  max-height: none;
}
.excalidraw .UserList__more {
  width: var(--avatar-size, 1.5rem);
  height: var(--avatar-size, 1.5rem);
  position: relative;
  border-radius: 100%;
  outline-offset: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-gray-90);
  flex: 0 0 auto;
}
.excalidraw .UserList__more:active {
  transform: scale(0.94);
}
.excalidraw .UserList__more-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.excalidraw .UserList__more::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100%;
}
.excalidraw .UserList__more.is-followed::before {
  border-color: var(--color-primary-hover);
  box-shadow: 0 0 0 1px var(--color-primary-hover);
}
.excalidraw .UserList__more.is-current-user {
  cursor: auto;
}
.excalidraw .UserList__more {
  background-color: var(--color-gray-20);
  border: 0 !important;
  font-size: 0.625rem;
  font-weight: 400;
  flex-shrink: 0;
  color: var(--color-gray-100);
  font-weight: bold;
}
.excalidraw .UserList__collaborator-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.excalidraw .UserList__collaborator--avatar-only {
  position: relative;
  display: flex;
  flex: 0 0 auto;
}
.excalidraw .UserList__collaborator--avatar-only .UserList__collaborator-status-icon {
  --size: 14px;
  position: absolute;
  display: flex;
  flex: 0 0 auto;
  bottom: -0.25rem;
  right: -0.25rem;
  width: var(--size);
  height: var(--size);
}
.excalidraw .UserList__collaborator--avatar-only .UserList__collaborator-status-icon svg {
  flex: 0 0 auto;
  width: var(--size);
  height: var(--size);
}
.excalidraw .UserList__collaborator-status-icons {
  margin-left: auto;
  flex: 0 0 auto;
  min-width: 2.25rem;
  gap: 0.25rem;
  justify-content: flex-end;
  display: flex;
}
.excalidraw .UserList__collaborator.is-muted .UserList__collaborator-status-icon-microphone-muted {
  color: var(--color-danger);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}
.excalidraw .UserList__collaborator-status-icon-speaking-indicator {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 1rem;
  padding: 0 3px;
  box-sizing: border-box;
}
.excalidraw .UserList__collaborator-status-icon-speaking-indicator div {
  width: 0.125rem;
  height: 0.4rem;
  background-color: #a2f1a6;
}
.excalidraw .UserList__collaborator-status-icon-speaking-indicator div:nth-of-type(1) {
  animation: speaking-indicator-anim 1s -0.45s ease-in-out infinite;
}
.excalidraw .UserList__collaborator-status-icon-speaking-indicator div:nth-of-type(2) {
  animation: speaking-indicator-anim 1s -0.9s ease-in-out infinite;
}
.excalidraw .UserList__collaborator-status-icon-speaking-indicator div:nth-of-type(3) {
  animation: speaking-indicator-anim 1s -0.15s ease-in-out infinite;
}
@keyframes speaking-indicator-anim {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
.excalidraw .UserList__collaborators {
  top: auto;
  max-height: 50vh;
}

/*# sourceMappingURL=UserList.css.map */
